.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 969px;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{
    font-size: 190px;
    font-family: 'BMDOHYEON';
    color: white;
    position: relative;
    top: 20px;
}
.page2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body::-webkit-scrollbar {
    background: linear-gradient(to bottom, #43966b, #2e6cb1);
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    background-clip: padding-box;
    border: 5px solid transparent;
}
.page4, .page5, .page6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.none, .None{
    opacity: 0;
}
.list{
    border-radius: 40px;
    position: relative;
    top: -50px;
    opacity: 0;
    font-size: 50px;
    color: white;
    background: linear-gradient(to top, #43966b, #2e6cb1);
}
li{
    font-family: 'BMDOHYEON';
}
img{
    position: absolute;
    opacity: 0;
}
#i1{
    left: -250px;
}
#i2{
    right: -250px;
}
#i3{
    top: -550px;
}
#i4{
    right: -140px;
}
#i5{
    left: -140px;
}
html, body { height: 100%; margin: 0;}
body { overflow-x: hidden; }
#container { width: 800%; height: 100%; display: flex; flex-wrap: nowrap; }
section { width: 100%; height: 100%; position: relative; display: flex; justify-content: center; align-items: center; }